.logo {
  display: inline-block;
  width: 183px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Лого в шапке (позиционируем в левом верхнем углу) */
.logo_place_header {
  position: absolute;
  left: 0px;
  top: 30px;
  background-image: url("../../images/logo_place_header.svg");
}

/* Лого в подвале (белое) */
.logo_place_footer {
  background-image: url("../../images/logo_place_footer.svg");
}
